<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<div layout:fragment="content">
<head>
    <script>
        $(function () {
            let code = "";
            let checkEmail = false;
            let checkId = false;
            $("#checkId").click(function () {
                let memberId = $("#memberId").val();
                $.ajax({
                    type: "GET",
                    url: "/members/checkId?memberId=" + memberId,
                    cache: false,
                    statusCode: {

                        200: function () {
                            alert("사용 가능한 아이디입니다.");
                            checkId = true;
                        },
                        300: function (){
                            alert("중복된 아이디입니다.")
                        }
                    }
                })
            })
            $("#getCode").click(function () {
                let memberEmail = $("#memberEmail").val();
                alert("이메일 확인중입니다. 잠시만 기다려주세요.")
                $.ajax({
                    type: "GET",
                    url: "/members/sendEmail?memberEmail=" + memberEmail,
                    cache: false,
                    statusCode: {
                        300: function () {
                            alert("이메일이 중복되었습니다. 다른 이메일을 사용해주세요.")
                        },
                        200: function (data) {
                            code = data;
                            alert("인증번호 발송이 완료되었습니다.\n입력한 이메일에서 인증번호 확인을 해주십시오.");
                            $("#memberEmail").attr("readonly", true);
                            $("#memberCode").removeAttr("readonly");
                        }
                    }

                });
            });

            $("#checkCode").click(function () {
                if ($("#memberCode").val() === code) {
                    alert("인증코드가 확인되었습니다.");
                    $("#memberCode").attr("readonly", true);
                    $("#memberEmail").attr("readonly", true);
                    $("#checkCode").attr("readonly", true);
                    $("#getCode").attr("readonly", true);
                    checkEmail = true;
                } else {
                    alert("인증코드가 틀립니다. 다시 시도해주세요.")
                    $("#memberEmail").removeAttr("readonly");
                    $("#memberCode").attr("autofocus", true);
                }
            });

            $("#submit").click(function () {
                $("#form").submit(function () {
                    if (checkId === false) {
                        alert("아이디 중복 체크를 해주세요.");
                        return false;
                    }
                    if (checkEmail === false) {
                        alert("이메일 인증을 해주세요.");
                        return false;
                    }
                    if (checkEmail === true && checkId === true) {
                        return true;
                    }
                });
            });
        });
    </script>
</head>
<body>
    <div class="py-5 text-center">
        <h2>JOIN</h2>
    </div>
    <form action="/members/join" method="post" name="form" id="form">
        <div>
            <label for="memberId">ID</label>
            <input type="text" id="memberId" name="memberId" class="form-control"
                   placeholder="아이디를 입력하세요." required>
            <button type="button" class="w-100 btn btn-primary btn-sm" id="checkId" name="checkId">아이디 중복 확인
            </button>
        </div>
        <div>
            <label for="memberPwd">PWD</label>
            <input type="password" id="memberPwd" name="memberPwd" class="form-control"
                   placeholder="비밀번호를 입력하세요." required>
        </div>
        <div>
            <label for="memberName">NAME</label>
            <input type="text" id="memberName" name="memberName" class="form-control"
                   placeholder="이름을 입력하세요." required>
        </div>
        <div>
            <label for="memberEmail">EMAIL</label>
            <input type="text" id="memberEmail" name="memberEmail" class="form-control"
                   placeholder="이메일을 입력하세요." required>
            <button type="button" class="w-100 btn btn-primary btn-sm" id="getCode" name="getCode">이메일 인증하기
            </button>
        </div>
        <div>
            <label for="memberCode">인증번호</label>
            <input type="text" id="memberCode" name="memberCode" class="form-control"
                   placeholder="코드를 입력하세요." required readonly>
            <button type="button" class="w-100 btn btn-primary btn-sm" id="checkCode" name="checkCode">인증하기
            </button>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" id="submit" name="submit">저장
                </button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='item.html'" th:onclick="|location.href='@{/}'|"
                        type="button">취소
                </button>
            </div>
        </div>
    </form>
</body>
</div> <!-- /container -->
</html>