<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<body>
<div layout:fragment="content">
    <div class="py-5 text-center">
        <h2>Login</h2>
    </div>
    <div class="row text-center w-100">

    <div class="col-6" style="margin-top: 15%; font-size: large">
        <p>해당 블로그는 사용자의 동의로 제공받는</p>
        <p><b style="color: #ec2d2d">email</b>과 <b style="color: #ec2d2d">profile</b> 이외의 정보는 수집하지 않으며,</p>
        <p>해당 정보는 댓글 작성시에만 사용됩니다.</p>
    </div>
    <div class="col-6" style="margin-top: 15%">
        <h4>소셜 로그인 하기</h4>
        <br>
        <a href="/oauth2/authorization/google">
            <img src="/img/googleLogin.png" alt="" >
        </a>
    </div>
    </div>

</div> <!-- /container -->
</body>
</html>