<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header.html :: header"></div>
</head>
<body>
<div th:replace="/fragments/nav.html :: nav"></div>
<div class="container">
    <div class="py-5 text-center">
        <h2>게시판</h2>
    </div>
            <form name="form" action="/boards/add" id="form" role="form" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title">제목</label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="제목을 입력해 주세요" required>
                </div>
                <div class="mb-3">
                    <label for="content">내용</label>
                    <textarea class="form-control" rows="8" name="content" id="content" placeholder="내용을 입력해 주세요" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="files">파일</label>
                    <input type="file" name="files" id="files" multiple>
                </div>
                <button type="submit" class="btn btn-sm btn-primary">저장</button>
                <button type="button" class="btn btn-sm btn-primary"><a href="/boards"></a>목록</button>
            </form>
</div> <!-- /container -->
</body>
</html>