<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header.html :: header"></div>
    <script th:inline="javascript">
        let modifyStatus = false;
        let addStatus = false;
        /*<![CDATA[*/
        $(function () {
            let boardId = $("#boardId").text();
            // 로딩 완료시 댓글 불러오기
            getReply();

            $("#mod").click(function () {
                location.href = "/boards/" + boardId + "/modify";
            });
            $("#del").click(function () {
                let result = confirm("게시글을 삭제하시겠습니까?");
                if (result) {
                    location.href = "/boards/" + boardId + "/delete";
                }
            });
            $("#replyCommit").click(function () {
                let replyContent = $("#reply").val();

                $.ajax({
                    type: "POST",
                    url: "/reply/add",
                    cache: false,
                    data: {
                        "replyContent": replyContent,
                        "boardId": boardId
                    },
                    statusCode: {
                        200: function () {
                            alert("댓글 등록에 성공하였습니다.")
                            $("#reply").val('');
                            getReply();
                        },
                        300: function () {
                            alert("댓글 등록에 실패하였습니다.")
                        },
                        400: function () {
                            alert("로그인 후, 이용해주세요.")
                        }
                    }
                })
            });

            // 댓글 불러오기
            function getReply() {
                $.ajax({
                    type: "GET",
                    url: "/reply/" + boardId,
                    data: {},
                    dataType: "json",
                    success: function (data) {
                        let result = "";
                        if (data.reply.length === 0) {
                            result += "<div>댓글이 없습니다.</div>"
                        } else {
                            $.each(data.reply, function (key, value) {
                                let replyId = value.replyId;
                                let replyWriter = value.replyWriter;
                                let replyDate = value.replyDate;
                                let replyContent = value.replyContent;
                                let replyDepth = value.replyDepth;
                                result += "<div id='reply-" + replyId + "' style='border: 1px solid #cccccc; margin-left:" + replyDepth * 20 + "px'>";
                                if (replyDepth !== 0) {
                                    result += "<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-return-right' viewBox='0 0 16 16'>" +
                                        "  <path fill-rule='evenodd' d='M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z'/>" +
                                        "</svg>"
                                }
                                result += "<b>" + replyWriter + "</b>";
                                result += "<p>" + replyDate + "</p>";
                                result += "<pre class='content'>" + replyContent + "</pre>";
                                if (replyWriter === [[${session.login}]]) {
                                    result += "<button type='button' class='btn btn-primary btn-sm'  id='add-" + replyId + "'>대댓글</button>"
                                    result += "<button type='button' class='btn btn-primary btn-sm'  id='modify-" + replyId + "'>수정</button>"
                                    result += "<button type='button' class='btn btn-primary btn-sm' id='delete-" + replyId + "'>삭제</button>"
                                }
                                result += "</div>"
                            })
                        }
                        $("#replyDiv").html(result);
                    }
                });
            }

            // 댓글 입력 취소
            $(document).on("click", "[id^=delete]", function () {
                let id = $(this).attr("id");
                let str = id.split('-')[1];
                let result = confirm("댓글을 삭제하시겠습니까?");
                if (result) {
                    $.ajax({
                        type: "POST",
                        url: "/reply/delete",
                        cache: false,
                        data: {
                            "replyId": str
                        },
                        statusCode: {
                            200: function () {
                                alert("댓글 삭제에 성공하였습니다.")
                                getReply();
                            },
                            300: function () {
                                alert("댓글 삭제에 실패하였습니다.")
                            }
                        }
                    })
                }
            });
            $(document).on("click", "[id^=modify]", function () {
                // 클릭한 버튼의 상위요소들 div 중, 가장 가까운 div의 id 값(댓글 번호) 가져옴.
                let id = $(this).closest("div").attr("id");
                // '-'를 기준으로 잘라 뒤에 있는 댓글의 번호를 가져옴.
                let str = id.split('-')[1];
                alert(str);
                // 현재 값을 가져오는 작업이 안되서 일단 보류
                if (modifyStatus) {
                    let content = $("#getModifyContent").val();
                    $.ajax({
                        type: "POST",
                        url: "/reply/modify",
                        cache: false,
                        data: {
                            "replyId": str,
                            "replyContent": content
                        },
                        statusCode: {
                            200: function () {
                                modifyStatus = false;
                                alert("댓글 수정에 성공하였습니다.")
                                getReply();
                            },
                            300: function () {
                                alert("댓글 삭제에 실패하였습니다.")
                                getReply();
                            }
                        }
                    })
                } else {
                    // 해당 댓글 번호의 div 에서 하위 요소인 content를 가져옴
                    let content = $('#' + id).children(".content");
                    // content 내용을 가져와 텍스트 바꿈.
                    let contentVal = content.text();
                    // pre 태그의  content를 textatrea로 변경하여 텍스트를 추가할 수 있도록 함.
                    content.replaceWith('<textarea id="getModifyContent"/>');
                    $("#modifyContent").val(contentVal);
                    $('#delete-' + str).replaceWith('<button type="button" value="취소" id="cancel-' + str + '">취소</button>');

                    modifyStatus = true;
                }
            });

            $(document).on("click", "[id^=add]", function () {
                // 클릭한 버튼의 상위요소들 div 중, 가장 가까운 div의 id 값(댓글 번호) 가져옴.
                let id = $(this).closest("div").attr("id");
                // '-'를 기준으로 잘라 뒤에 있는 댓글의 번호를 가져옴.
                let str = id.split('-')[1];
                if (!addStatus) {
                    let result = '';
                    result += "<textarea id='child-" + str + "' placeholder='댓글을 입력해주세요.' style='width: 100%'></textarea>";
                    result += "<button type='button' class='btn btn-primary btn-sm' id='childCommit-" + str + "'>쓰기</button>";
                    result += "<button type='button' value='취소' id='cancel-" + str + "'>취소</button>"
                    // 해당 댓글 번호의 div 에서 하위 요소인 content를 가져옴
                    $('#' + id).append(result);
                    addStatus = true;
                }
            });

            $(document).on("click", "[id^=childCommit]", function () {
                let id = $(this).closest("div").attr("id");
                // '-'를 기준으로 잘라 뒤에 있는 댓글의 번호를 가져옴.
                let str = id.split('-')[1];
                // textarea에 저장된 본문 값 가져옴.
                let replyContent = $("#child-" + str).val();
                // 로그인 아이디 가져옴.
                let login = [[${session.login}]];
                // 현재 게시글의 번호 가져옴.
                $.ajax({
                    type: "POST",
                    url: "/reply/add",
                    cache: false,
                    data: {
                        "replyContent": replyContent,
                        "replyWriter": login,
                        "boardId": boardId,
                        "replyParentId": str,
                    },
                    success: function (data) {
                        if (data === "x") {
                            alert("댓글 등록에 실패하였습니다.")
                        } else {
                            alert("댓글 등록에 성공하였습니다.")
                            addStatus = false;
                        }
                        getReply();
                    }
                })
            })

            $(document).on("click", "[id^=cancel]", function () {
                getReply();
            });

            // 게시판으로 돌아감
            $(document).on("click", "#menu", function () {
                location.href = "/boards";
            })
        });
        /*]]>*/
    </script>
</head>
<body>
<div th:replace="/fragments/nav.html :: nav"></div>
<div class="container">
    <div class="py-5 text-center">
        <h2>게시판</h2>
    </div>
    <table class="table table-horizontal table-bordered text-center">

        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        <tr>
            <td id="boardId" th:text="${board.id}"></td>
            <td th:text="${board.title}"></td>
            <td th:text="${board.writer}"></td>
            <td th:text="${board.date}"></td>

        </tr>
        </tbody>
    </table>
    <div th:each="file : ${board.files}">
        첨부파일 <a href="" download th:href="@{/files/download(filePath=${file.filePath},fileName=${file.fileName})}"
                th:text="${file.getFileName()+'   '+file.getFileSize()+'KB'}"></a>
    </div>
    <div style="margin-top: 30px; font-size: 25px;">
        <b>본문</b>
        <pre style="font-size: 18px" th:text="${board.content}"></pre>
    </div>
    <div>
        <button th:if="${session.login == board.writer}" class="btn btn-primary float-right"
                id="mod" name="mod"
                type="button">수정
        </button>
        <button th:if="${session.login == board.writer}" class="btn btn-primary float-left"
                id="del" name="del"
                type="button">삭제
        </button>
    </div>
    <br><br><br>
    <div>
        <form action="">
            <b>댓글 작성하기</b>
            <textarea id="reply" placeholder="댓글을 입력해주세요." style="width: 100%"></textarea>
            <button type="button" class="btn btn-primary btn-sm" id="replyCommit">쓰기</button>
        </form>
        <strong>댓글</strong>
    </div>
    <div id="replyDiv">
    </div>
    <br>
    <button type="button" class="w-100 btn btn-secondary btn-sm" id="menu" name="menu">목록</button>
</div> <!-- /container -->
<div th:replace="/fragments/footer.html :: footer"></div>
</body>
</html>