<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header.html :: header"></div>
    <script>
        $(function(){
            let val = $("#id").text();
            $("#modify").click(function (){
                location.href = "/boards/modify/" + val;
            })
            $("#delete").click(function (){
                location.href = "/boards/delete/" + val;
            })

        })
    </script>
</head>
<body>
<div th:replace="/fragments/nav.html :: nav"></div>
<div class="container">
    <div class="py-5 text-center">
        <h2>게시판</h2>
    </div>
    <table class="table table-horizontal table-bordered">

        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        <tr>
            <td id="id" th:text="${board.id}"></td>
            <td th:text="${board.title}"></td>
            <td th:text="${board.writer}"></td>
            <td th:text="${board.date}"></td>

        </tr>
        </tbody>
    </table>
    <div th:each="file : ${board.files}">
        첨부파일 <a href="" th:href="@{/boards/file(filePath=${file.filePath},fileName=${file.fileName})}"
                th:text="${file.getFileName()+'   '+file.getFileSize()+'KB'} "></a>
    </div>
    <pre th:text="${board.content}"></pre>
    <button th:if="${session.login == board.writer}" class="btn btn-primary float-end"
            id="modify" name="modify"
            type="button">수정
    </button>
    <button th:if="${session.login == board.writer}" class="btn btn-primary float-end"
            id="delete" name="delete"
            type="button">삭제
    </button>
</div> <!-- /container -->
</body>
</html>