<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    footer{
        position: fixed;
        left: 0;
        bottom: 0;
        height: 100px;
        width: 100%;
    }
</style>
<footer th:fragment="footer" class="w-100 text-center">
        <h3 class="text-secondary">Hi Spring</h3>
        <p>This page powered by
            <span class="text-primary">Kimtaeyeon</span> / Designed by
            <span class="text-primary">Kimtaeyeon</span>
        </p>
</footer>
</html>
