<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div th:fragment="nav2">
    <nav class="navbar navbar-light navbar-expand-sm bg-light fixed-top"> <!-- 제목 -->
        <a class="navbar-brand" href="#" th:href="@{/}"
           style="font-family: 'Bebas Neue', cursive; font-size: 25px; color: black">BLOG PROJECT</a>
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <!-- 리스트 : 부트스트랩은 모바일 우선이라 화면이 작으면 아래로 쌓아서 내려온다 -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a class="nav-link" href="#" th:href="@{/boards}">게시판</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Link 2</a></li>
                <li class="nav-item"><a class="nav-link disabled" href="#">Link 3</a></li>
                <li class="nav-item">
                    <img th:if="${session.user != null}" style="border-radius: 20px; width: 35px; height: 35px"
                         th:src="${session.user.memberImg}" src="" alt="">
                </li>
                <li>
                    <a th:if="${session.user != null}" th:text="${session.user.memberName}" class="nav-link"
                       th:href="@{|/member/${session.user.memberEmail}|}" href="#">아이디</a>
                </li>
                <li class="nav-item">
                    <a th:if="${session.user == null}" th:href="@{/login}" class="nav-link">로그인</a>
                    <a th:if="${session.user != null}" th:href="@{/logout}" class="nav-link">로그아웃</a>
                </li>
                <li class="nav-item">
                    <a th:if="${session.user == null}" href="" th:href="@{/member/join}" class="nav-link">회원가입</a>
                </li>
            </ul>

        </div>

    </nav>
    <hr>
</div>
</html>
