<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header.html :: header"></div>
</head>
<body>
    <div th:replace="/fragments/nav.html :: nav"></div>
<div class="container">
    <div class="py-5 text-center">
        <h1>Hello Spring</h1>
        <p>회원 기능</p>
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg"
                        onclick="location.href='memberJoin.html'" th:onclick="|location.href='@{/members/join}'|"
                        type="button">회원가입
                </button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='members.html'" th:onclick="|location.href='@{/members}'|"
                        type="button">회원목록
                </button>
            </div>
        </div>
    </div>
</div> <!-- /container -->
    <div th:replace="/fragments/footer.html :: footer"></div>
</body>
</html>